#m {

  width: 50%;
  height: 30px;
  font-size: 20px
}


#messages { 
  list-style-type: none; margin: 0; padding: 0;
  height: 30px;
  font-size: 20px;
   }

#messages li {
   padding: 5px 10px;
   }
      
#messages li:nth-child(odd) {
 background: #eee;
  }
    